

   ol.progtrckr {
       margin: 0;
       padding: 0;
       list-style-type: none;
       min-width: 300px;
   }

   ol.progtrckr li {
       display: inline-block;
       text-align: center;
       /*line-height: 3rem;*/
       line-height: 54px;
   }

   ol.progtrckr[data-progtrckr-steps="2"] li { width: 20%; }
   ol.progtrckr[data-progtrckr-steps="3"] li { width: 20%; }
   ol.progtrckr[data-progtrckr-steps="4"] li { width: 20%; }
   /*ol.progtrckr[data-progtrckr-steps="5"] li { width: 25%; }
   ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
   ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
   ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
   ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }*/

   ol.progtrckr li.progtrckr-done {
       color: #262626;
       border-bottom: 4px solid #2d845b;
   }
   ol.progtrckr li.progtrckr-todo {
       color: #silver;
       border-bottom: 4px solid silver;
   }

   ol.progtrckr li:after {
       content: "\00a0\00a0";
   }
   ol.progtrckr li:before {
       position: relative;
       /*bottom: -2.5rem;*/
       bottom: -45px;
       float: left;
       left: 50%;
       /*line-height: 1rem;*/
       line-height: 18px;
   }
   ol.progtrckr li.progtrckr-done:before {
       content: "\2713";
       color: white;
       background-color: #2d845b;
       /*height: 1.2rem;*/
       /*width: 1.2rem;*/
       /*line-height: 1.2rem;*/
       height: 22px;
       width: 20px;
       line-height: 22px;
       border: none;
       /*border-radius: 1.2rem;*/
       border-radius: 22px;
   }
   ol.progtrckr li.progtrckr-todo:before {
       content: "\039F";
       color: silver;
       background-color: white;
       /*font-size: 1.5rem;*/
       /*bottom: -1.6rem;*/
       font-size: 27px;
       bottom: -46px;
   }
