html, body {
  height: 100%;
}

img {
  max-width: 100%;
}

/*cover*/
#cover {
  background: #222 url('img/forest-path.jpg') center center no-repeat;
  background-size: cover;
  color: #fff;
  height: 60%;
  text-align: center;
  display: flex;
  align-items: center;
}

#cover-caption {
  width: 100%;
}

.jumbotron .container {
  max-width: 60rem;
  background: rgba(0,0,0,0.5);
  padding: 2rem;
  color: #fff;
}

#carousel {
  padding: 3rem 4rem;
}

.carousel-item img{
  max-height: 10%;
}

#carousel2 {
  padding: 3rem 4rem;
  background-color: #f5f5f5;
  background-size: cover;
}

#carousel2 .card img {
  padding: 1rem;
}

/*.section-content {
  padding: 5rem 0;
}*/

#what-i-do {
  padding: 2rem 0;
}

#what-i-do img {
  padding: 1rem;
}

#about {
  height: 60%;
  display: flex;
  align-items: center;
}

.about-text {
  /*background: rgba(255,255,255,0.4);*/
  color: #6868668;
  padding: 2rem;
}

#social {
  padding: 2rem 0;
}

#footer-main {
  background: #222;
  color: #fff;
  font-size: 0.8rem;
  padding: 2.5rem 0;
}
