html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

.btn-success-outline {
  color: #9305f6;
  border-color: #9305f6;
  background: #e4e4e4;
}

a {
  color: #440F99;
}

h1 {
  font-family: 'Condiment', cursive;
   color: #9305f6;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 36px;
}

.fa {
  color: #6E05F6;
}

.navbar {
  background: linear-gradient(to bottom, rgba(68,15,153,0.5) 0%,rgba(34,34,34,1) 100%);
}

li .nav-item {
  color: #9305f6; !important;
}

.navbar-toggler {
  background-color: #fff;
  z-index: 10000;
}

/*cover*/
#headline {
  background: #222;
  color: #fff;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

.display {
  font-family: 'Condiment', cursive;
  color: #9305f6;
}

/*what I do*/

#what-i-do {
  padding: 2rem 0;
}

#what-i-do img {
  padding: 1rem;
}

.card-subtitle {
  color: #9305f6;
}

/*philosophy*/

#philosophy {
  background: url('img/deck.jpg') 100% 100% no-repeat;
  background-size: cover;
  color: #fff;
  height: 100%;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

#philosophy-text .container {
  color: #fff;
  background: rgba(0,0,0,0.8);
  padding: 2rem;
  max-width: 40rem;
}

/*Alchemist*/

#Alchemist {
  background: url('img/stars.jpg') 100% 100% no-repeat;
  background-size: cover;
  color: #fff;
  height: 80%;
  /* text-align: center;
     display: flex;
 align-items: center;*/
}

#alchemist-text .container {
  color: #fff;
  background: rgba(0,0,0,0.8);
  padding: 2rem;
  max-width: 40rem;
}

/*Social*/

#social {
  padding: 2rem 0;
}

li img {
  padding: 0.5rem;
  max-height: 25rem;
}

.media-body {
  padding: 1rem 0;
}

/*footer*/

#footer-main {
  background: #909090;
  color: #fff;
  font-size: 0.8rem;
  padding: 2.5rem 0;
}

blockquote {
  border-left: none !important;
}

.blockquote-footer {
  color: #fff;
}
